<header class="header-section">
  <div class="header-logo">
    <img src="assets/images/logo_eop.svg" alt="Trang chủ">
  </div>
  <div class="header-menu">
    <div class="menuSwitchBtn">
      <span class="material-symbols-outlined">
        menu
      </span>
    </div>
    <div class="header-right">
      <button class="btn-noti">
        <span class="material-symbols-outlined">
          notifications
        </span>
      </button>
      <button class="btn-group">
        <span class="material-symbols-outlined">
          group
        </span>
      </button>
      <app-prf-menu></app-prf-menu>
    </div>
  </div>
</header>
